  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="Jacob Merson">

    <!-- styles -->
    {% assign environment = site.environment %}
    {% if environment == "development" %}
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    {% else %}
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    {% endif %}

    <link href="/assets/css/main.css" rel="stylesheet">
    <link href="/assets/css/footer.css" rel="stylesheet">
    <link href="/assets/css/blog.css" rel="stylesheet">
    <!-- Style for code syntax highlighting -->
    <!--<link href="/assets/css/pygments_default.css" rel="stylesheet">--!>
    <link href="/assets/css/pygments_monokai.css" rel="stylesheet">
    <link href="/assets/css/mathjax.css" rel="stylesheet">
    
	<title>{{ site.title }} | {{ page.title }}</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!--[if lt IE 9]>
        <script src="/assets/js/response.min.js"></script>
        <script src="/assets/js/html5.shif.js"></script>
    <![endif]-->
    {% include mathjax.html %}
  </head>
