{% extends "base.html" %}

{% block body %}
<div class="container">
<div class="blog-header">
    <h1 class="blog-post-title"> {{ page.title }} </h1>
    <p class="blog-post-date"> {{ page.datetime.strftime("%A %B %d, %Y") }} </p>
    <p class="blog-post-tags"> {% for tag in page.tags %} {{ tag }} {% endfor %} </p>
</div> <!-- blog header --!>
<div class="blog-main">
    {% if page.image %}
        <div class="col-md-4">
            <!--image -->
            <img src="{{ page.image.url }}" class="img-responsive">
        </div>
        <div class="blog-post-content col-md-8">
            <p class="lead">{{ page.content }}</p>
        </div>
    {% else %}
        <div class="blog-post-content">
            <p class="lead">{{ page.content }}</p>
        </div>
    {% endif %}
</div> <!-- blog main --!>
</div>
</div>
{% endblock body %}
