---
layout: base
---

<div class="container">
<div class="blog-header">
    <h1 class="blog-post-title"> {{ page.title }} </h1>
    <p class="blog-post-date"><span class="glyphicon glyphicon-time"></span> {{ page.date | date: "%A %B %d, %Y" }} </p>
    <p class="blog-post-tags"><span class="glyphicon glyphicon-tags"></span> {{ page.tags | array_to_sentence_string }}</p>
</div> <!-- blog header --!>
<div class="blog-main">
    {% if page.image %}
        <div class="col-md-4">
            <!--image -->
            <img src="{{ page.image.url }}" class="img-responsive">
        </div>
        <div class="blog-post-content col-md-8">
            <p class="lead">{{ content }}</p>
        </div>
    {% else %}
        <div class="blog-post-content">
            <p class="lead">{{ content }}</p>
        </div>
    {% endif %}
</div> <!-- blog main --!>
</div>
</div>
